---
layout: splash

feature_row:
  - image_path: /assets/main-banner.jpg
    title: "Print +"
    excerpt: "Check out Print +"
  - image_path: /assets/square-logo.jfif
    title: "Our 2023 Book Prizes"
    excerpt: "see them"
  - image_path: /assets/Aesthetic_Cold_War.jpg
    title: "Between the Acts" 
    excerpt: "Digital Conference"     

---

<div id="main-banner">

	<div class="page__hero--overlay"
  style="background-color: #000; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/main-banner.jpg);">
    <div class="wrapper">
      <!--
	  <h1 id="page-title" class="page__title" itemprop="headline">       
          Splash Page       
      </h1> 
		-->
        <p class="page__lead">...devoted to the study of the arts in their social, political, cultural, and intellectual contexts from the later nineteenth- through the mid-twentieth century.
		</p>     
        <p>      
          <a href="https://msa.press.jhu.edu/about/conduct.html" class="btn btn--light-outline btn--large">Learn More</a>   
    </div>
</span>
  
</div>

</div>


<!--
<div>
	{% include figure image_path="/assets/Aesthetic_Cold_War.jpg" %}
</div>
-->

<!--
<div>
	<gallery class="feature__wrapper">
		<div class="feature__item">
			<a href="https://modernismmodernity.org/"
				<img src="/assets/JHUP.jfif" width="100%">
				<figcaption class="archive__item-title">Check out the Modernism/modernity online at JHUP's Print+</figcaption>
				
		</div>
		<div class="feature__item">
			<img src="/assets/Aesthetic_Cold_War.jpg">
			<figcaption class="archive__item-title">Aesthetic Cold War</figcaption>
		</div>
		<div class="feature__item">
			<img src="/assets/square-logo.png">
			<figcaption class="archive__item-title">A growing archive of digital resources</figcaption>
		</div>
		<div class="feature__item">
			<img src="/assets/Aesthetic_Cold_War.jpg">
			<figcaption class="archive__item-title">Aesthetic Cold War</figcaption>
		</div>
	</gallery>
</div>
-->
<div class="main-wrapper">
	<div class="feature__wrapper">
		<div class ="feature__item">
				<div class="feature__item-teaser">
					<img src="https://th.bing.com/th/id/OIP.k9To_S5NDo-boJavHMcixQHaEK?pid=ImgDet&rs=1" min-width="150" min-height="150"/>
				</div>
				<h3>MSA 2023: Brooklyn</h3>
				<figcaption  class="archive__item-title">Check out the fantastic line-up from our annual conference. This year the theme was "streets"</figcaption>
			<a href="https://msa.press.jhu.edu/conferences/msa2023/" class="btn btn--primary">Gather</a>
		</div>
		<div class ="feature__item">
				<div class="feature__item-teaser">
					<img src="/assets/MSAMasthead.png" min-width="150" min-height="150"/>
				</div>
				<h3>Membership</h3>
				<figcaption  class="archive__item-title">Become a part of the Modernist Studies Association"</figcaption>
			<a href="https://msa.press.jhu.edu/members/index.html" class="btn btn--primary">Join</a>
		</div>
		<div class ="feature__item">
				<div class="feature__item-teaser">
					<img src="assets/Between_the_Acts.jpg" min-width="150" min-height="150"/>
				</div>
				<h3>Between the Acts</h3>
				<figcaption  class="archive__item-title">Last summer modernist gathered from across the globe through this digital community"</figcaption>
			<a href="https://msa.press.jhu.edu/conferences/bta2022/exhibits.html" class="btn btn--primary">Share</a>
		</div>
		<div class ="feature__item">
				<div class="feature__item-teaser">
					<img src="/assets/Aesthetic_Cold_War.jpg" min-width="150" min-height="150"/>
				</div>
				<h3>2023 Book Prizes</h3>
				<figcaption  class="archive__item-title">Come celebrate the latest prize-winning scholarly works and the complete 2023 shortlists"</figcaption>
			<a href="https://msa.press.jhu.edu/prize/index.html" class="btn btn--primary">Celebrate</a>
		</div>
		<div class ="feature__item">
				<div class="feature__item-teaser">
					<img src="/assets/square-logo.png" min-width="150" min-height="150"/>
				</div>
				<h3>Modernist Networks</h3>
				<figcaption  class="archive__item-title">Explore the ever-growing repository of digital scholarship"</figcaption>
			<a href="https://modnets.org/" class="btn btn--primary">Explore</a>
		</div>
		<div class ="feature__item">
				<div class="feature__item-teaser">
					<img src="/assets/JHUP.jfif" min-width="150" min-height="150"/>
				</div>
				<h3>Print+</h3>
				<figcaption  class="archive__item-title">Modernism/modernity is reaching a broader scholarly community through its Print+ platform"</figcaption>
			<a href="https://modernismmodernity.org/" class="btn btn--primary">Read</a>
		</div>
	</div>	
	<div class="social-row">
		<div class ="feed-block">
			<a class="twitter-timeline" href="https://twitter.com/msatweet?ref_src=twsrc%5Etfw" data-width="300" data-height="450">Tweets by msatweet</a> 
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		<!--current facebook page not compatible with embedded timeline	-->	
		<div class="feed-block">
			<script crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v5.0"></script>
			<div class="fb-page" data-href="https://www.facebook.com/NationalWomensStudiesAssoc" data-tabs="timeline" data-width="300" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
			</div>
		</div>
	</div>
</div>
         

{{ content }}


<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
-->